<head>
    <meta charset="utf-8">
    <title>Database Navigator</title>
    <script type="text/javascript" src="../index.js"></script>
    <style>
        * {
            background: rgb(44, 33, 33);
            position: relative;
            font-family: 'Courier New', Courier, monospace;
            margin: 0 auto;
        }
        
        header {
            background: rgb(62, 33, 33);
            text-align: center;
            color: aliceblue;
            font-size: 35px;
        }
        
        nav {
            background: rgb(62, 33, 33);
            text-align: center;
            margin: 10px 0;
        }
        article {
            width: 20%;
        }
        aside {
            width: 70%;
        }
        nav > a {
            background: inherit;
        }        
        article > p {
            background: inherit;
            color:aliceblue;
            font-size: 20px;
            font-weight: bold;
            border-bottom: 1px outset aliceblue;
        }        
        .div {
            display: inline-block;
            height: 100%;
            padding: 5mm;
            border: 1px outset aliceblue;
        }
        .button:hover {
            background: rgb(62, 33, 33);
            cursor: pointer;
        }
        .query {
            display: flex;
            background: inherit;
            width: inherit;
        }
        .text {
            background: aliceblue;
            width: 100%;
        }
        .submit {
            background: aliceblue;
            width: 15%;
        }
        .submit:hover {
            cursor: pointer;
        }
        .table {
            table-layout: fixed;
            width: 100%;
        }
        .cell {
            background: aliceblue;
            width: fit-content;
            height: auto;
            font-size: 20px;
            word-wrap: break-word;
        }
        .error_message {
            background: inherit;
            margin: 10px auto;
            font-size: 30px;
            color: brown;
            text-align: center;
        }
        #database_table {
            color: aliceblue;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>